*{
    margin: 0;
    padding: 0;
    text-decoration: none !important; 
    list-style: none;
 
}

.blue_top_header{
    background-color: #316DC3;
     
    font-family: sans-serif;
    text-align: center;
}

.rightbox ul{
display: flex;
justify-content: center;
margin: 10px 0px;
}
.rightbox li{
    padding: 6px 0px;
  

}
.rightbox li:hover{
    background-color: white;

    border-radius: 0.5em;

}
.social-icon{
    height: 18px;
    width: 18px;
    float: left;
    color: white;
    margin: 0px 8px;
}
.centerbox{
    margin: 12px 0px;
    color: white;
}
.leftbox ul{
    display: flex;
    justify-content: center;
    margin: 12px 0px;
}
.leftbox a{
    background-color: white;
    margin: 0px 3px;
    padding: 7px 10px;
    font-size: 11px;
    color: green;
    border:1px solid green;
   
}
.saylaninavbar{
 
    display: flex;
    justify-content: space-around;
    padding: 10px;

}

.items{
    display: flex;
    margin: 10px auto;
    height: 80%;
    float: right;

}

.links{
    
  margin: 0px 5px;
  padding: 12px 15px;
  color: black;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 600;
  

}
.active , .links:hover{
    background-color: #316DC3;
    color: white;
    border-radius: 2em;

}

.blue-line{
    background-color: #316DC3;
    font-size: 15px;
    color: white;
}
.greenclr{
    color: rgb(0, 255, 0);
}

.intro_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    
}

.drkgreenclr{
    color: #427900;
    font-family: 'Merriweather';
    
}
.intro_heading{
    text-align: center;
    margin: 30px 0px;
    color: #316DC3;
    font-family: 'Merriweather';
    font-size: 15px ;
}
.intro_text{
    color: grey;
    font-size: 15px;
    word-spacing: 9px;
}
 .numdetails{
    background-color: #316DC3;
    color: white;
    font-family: 'Merriweather';
    
} 

.cad{
    font-size: 45px; 
    margin: 50px auto;
    text-align: center;
   
}
.h1{
    
    font-family: 'Merriweather', serif !important; 
  
}

.card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        height: 200px;
       
        text-align:-webkit-center;
        margin: 30px 0px;
}
.card h4{
    font-family: 'Merriweather', serif;
    color: #316DC3;
    font-weight: bold;  
}
.card img{
    margin: 20px 0px;
}